@charset "utf-8";

.all-check {
  width: 100%;
  height: 2rem;
  margin-bottom: 0.5rem;
  border: 1px solid #000;
  background-color: #2f78c5;
  font-size: 1.3rem;
  color: white;
  cursor: pointer;
}
