@charset "utf-8";

.controller-scroll {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;

  &__btn {
    width: 48%;
    height: 2rem;
    border: 1px solid #000;
    background-color: #2f78c5;
    color: white;
    cursor: pointer;
  }
}
